<div class="card border-primary">
    <div class="card-header"><b>{{task?.title}}</b></div>
    <div class="card-body" *ngIf='task'>
        <table cellpadding="2" style=" margin : 10px;">
            <tr>
                <td>Issue ID: </td>
                <td>{{task.id}}</td>
            </tr>
            <tr>
                <td>Issue Type: </td>
                <td><span class="badge bg-secondary">{{task.type}}</span></td>
            </tr>
            <tr>
                <td>Status: </td>
                <td><span
                        [ngClass]="(task.status=='DONE')?'badge rounded-pill bg-success':'badge rounded-pill bg-primary'">{{ task.status | convertStatus}}</span>
                </td>
            </tr>
            <tr></tr>
        </table>

        <textarea class="form-control" id="description" rows="20">{{task.description}}</textarea>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-secondary" (click)="onBack()">Back</button>
    </div>
</div>


